.gradle/
build/
out/
bin/
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

hs_err_pid*
replay_pid*
*.log

run/
*.db
*.db-journal

*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
Thumbs.db
